<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <h1>Travel Planner</h1>
        </header>

<br>
        <main>
            <section class ="section2">
                    <p class = "text" style = 'font-size: 50px;'>Your Trip To: </p><input id="input1" placeholder="Zipcode/ Postcode or City" type="text"><br>
                    <p class = "text" style = 'font-size: 50px;'>Departing: </p><input id="input2" placeholder="Input Your Departure Date" type="text"><br>
                    <button class = "button" onClick = "Client.handleGeonames()" type="button">Submit</button> <button class = "button"type="button">Remove Trip</button>
                    <br>         

                    <p>Latitude:<div id="latitude" style = 'color: rgb(180, 178, 30)';></div></p>
                    <p>Longitude:<div id="longitude" style = 'color: rgb(180, 178, 30)'></div></p>
                    <p>Country:<div id="country" style = 'color: rgb(180, 178, 30)'></div></p>
                    <p>Countdown<div id="countdown"></div></p>
                    <p>Weather:<div id="Weather"></div></p>
                    <p>Picture:<div id="picture"></div></p>
            </section>
        </main>

        <footer role="contentinfo">
            <pstyle='color: rgb(56, 56, 56); >Copyright © 2019, JKMagnussen. All Rights Reserved | </p>
        <a href='http://www.linkedin.com/in/joseph-magnussen-478827189'><span style='color: rgb(32, 32, 32);'>LinkedIn</span></a> 
        | <a href='https://github.com/jkmagnussen'><span style='color: rgb(46, 46, 46);'>Github </span></a>
        | <a href='https://jkmagnussen.com'><span style='color: rgb(56, 56, 56);'>Homepage </span></a>
        </footer>

        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>

    </body>
</html>