<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
    </head>

    <body>

        <header>
            <h1>Travel Planner</h1>
        </header>

<br>
        <main>
            <section class ="section1">
                <span class = "box"></span>
            </section>
            <section class ="section2">
                    <p class = "text">My trip to: </p><input id="input1" placeholder="Input your  prospective location" type="text"><br>
                    <p class = "text">Departing: </p><input id="input2" placeholder="Input your  starting location" type="text"><br>
                    <button class = "button" type="button">Save Trip</button> <button class = "button"type="button">Remove Trip</button>
                    <br>         
                    <p class = "text">Resuts: </p>
                    <div id="latitude"></div>
                    <div id="longitude"></div>
                    <div id="country"></div>
            </section>
        </main>

        <footer role="contentinfo">
            <pstyle='color: rgb(56, 56, 56); >Copyright © 2019, JKMagnussen. All Rights Reserved | </p>
        <a href='http://www.linkedin.com/in/joseph-magnussen-478827189'><span style='color: rgb(32, 32, 32);'>LinkedIn</span></a> 
        | <a href='https://github.com/jkmagnussen'><span style='color: rgb(46, 46, 46);'>Github </span></a>
        | <a href='https://jkmagnussen.com'><span style='color: rgb(56, 56, 56);'>Homepage </span></a>
        </footer>

        <script>
            // Check that service workers are supported
            if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>

    </body>
</html>