body {

    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    display: flex;
    flex-direction: row;
    background-color: rgb(139, 41, 41);
    height: 80vh;
}


.button {
    background-color: rgb(59, 109, 76); /* Green */
    border: solid rgb(246, 248, 114);
    color: rgb(255, 255, 255);
    padding: 10px 32px;
    margin: 20px;
    margin-left: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    border-radius: 15px 15px 15px 15px;
  }
  
.section2 {
    font-family: Sans-Serif;
    font-size: 35px;
    color: rgb(255, 255, 255);
    width: 68vw;
    height: 45vh;
    position: relative;
    left: 140px;
    top: 50px;
}

div {
    padding:10px;
}
.text {
    font-size: 30px;
    font-family: Sans-Serif;
    color: rgb(255, 255, 255);
    
}

section {
    max-width: 800px;
}

h1 {
    color: rgb(255, 255, 255);
    padding: 10px;
    font-size: 58px;
    font-family: Sans-Serif;
    text-align: center;

}
a {
    text-decoration: none;
}

footer {
    color: rgb(29, 182, 67);
    padding: 10px;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;


}

#polarity {
    color: rgb(94, 194, 36);
    padding: 10px;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
}

#polarity_confidence{
    color: rgb(94, 194, 36);
    padding: 10px;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
}

#subjectivity{
    color: rgb(94, 194, 36);
    padding: 10px;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
}

#subjectivity_confidence{
    color: rgb(94, 194, 36);
    padding: 10px;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
}

#excerpt{
    color: rgb(94, 194, 36);
    padding: 10px;
    font-size: 24px;
    line-height: 35px;
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}