main {
  position: absolute;
  top: 150px;
  width: 100%;
  min-height: 100%;
  display: flex;
  background-color: rgb(139, 41, 41);
  padding: 100px;
  padding-top: 40px;
}
img {
  max-width: 100%;
  align-content: center;
  max-height: fit-content;
  display: block;
  margin: auto;
  object-fit: cover;
  padding-bottom: 30px;
}

#image {
  padding-bottom: 60px;
}
.button {
  background-color: rgb(59, 109, 76); /* Green */
  border: solid rgb(246, 248, 114);
  color: rgb(255, 255, 255);
  padding: 10px 32px;
  margin: 20px;
  margin-left: 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  border-radius: 15px 15px 15px 15px;
}

.section2 {
  position: relative;
  top: 10px;
  width: 90%;
  min-height: 1500px;
  font-family: Sans-Serif;
  font-size: 35px;
  color: rgb(255, 255, 255);
  align-content: center;
}

div {
  padding: 12px;
}

.text {
  font-size: 30px;
  font-family: Sans-Serif;
  color: rgb(255, 255, 255);
}
#input1 {
  font-size: 18px;
}
#input2 {
  font-size: 18px;
}

#input3 {
  font-size: 18px;
}

h1 {
  color: rgb(255, 255, 255);
  padding: 10px;
  font-size: 58px;
  font-family: Sans-Serif;
  text-align: center;
}
a {
  text-decoration: none;
}

#polarity {
  color: rgb(94, 194, 36);
  padding: 10px;
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
}

#polarity_confidence {
  color: rgb(94, 194, 36);
  padding: 10px;
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
}

#subjectivity {
  color: rgb(94, 194, 36);
  padding: 10px;
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
}

#subjectivity_confidence {
  color: rgb(94, 194, 36);
  padding: 10px;
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
}

#excerpt {
  color: rgb(94, 194, 36);
  padding: 10px;
  font-size: 24px;
  line-height: 35px;
  font-family: 'Courier New', Courier, monospace;
  text-align: justify;
}
