footer {
  width: 100%;
  height: 6%;
  bottom: 0;
  left: 0;
  position: absolute;
  background-color: white;
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  text-align: center;
  padding-top: 25px;
  border-top: 28px;
}
