footer {
    color: rgb(56, 56, 56);
    padding: 10px;
    font-size: 26px;
    font-family: Sans-Serif;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    height: 6vh;
    position: relative;
}
